*{
    font-family: 'monsterrat', sans-serif;
}

#container{
    height: 630px;
    /* border: 1px solid blue; */
}

#page{
    height: 100%;
    display: flex;
}

#page-div-left, #page-div-right{
    width: 50%;
    height: 90%;
    margin-top: 5%;
    /* border: 1px solid black; */
}

#heading{
    height: 20%;
    width: 100%;
    margin-top: 2%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#heading > p:nth-child(1){
    font-weight: 800;
    font-size: 1.5em;
}

#heading > p:nth-child(2){
    font-size: 1.25em;
    color: rgb(160,160,160);
}

#login-with-mobile{
    height: 30%;
    /* border: 1px solid black; */
    padding-top: 5%;
}

#login-with-mobile > div{
    width: 60%;
    height: 35%;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 2%;
    border-radius: 0.5em;
}

#mobile-login-input{
    display: flex;
    justify-content: center;
    align-items: center;
}

#country-code-div{
    height: 70%;
    width: 20%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    background-color: rgb(245,245,245);
}

#input-div{
    height: 60%;
    width: 60%;
    /* border: 1px solid black; */
    margin-left: 3%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #input-div input{
    display: none;
} */

#input-div input[placeholder]{
    font-size: 20px;
    font-weight: 700;
    color: lightgrey;
}

#continue-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: rgb(66,162,162);
    color: white;
}

#or-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-with-email{
    /* border: 1px solid black; */
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-with-email > div{
    height: 65%;
    width: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    font-weight: 700;
    color: rgb(117,117,117);
}

#google-and-facebook{
    /* border: 1px solid black; */
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#google-and-facebook > div{
    height: 65%;
    width: 24%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    font-weight: 700;
    color: rgb(117,117,117);
}

#terms-and-conditions{
    /* border: 1px solid black; */
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    color: rgb(160,160,160);
}

#terms-and-conditions span{
    color: rgb(66,162,162);
    font-weight: 700;
}